<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80174950564-e382uenorpdma9gmvjcf04jb6i57gj90.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80174950564-e382uenorpdma9gmvjcf04jb6i57gj90</string>
	<key>API_KEY</key>
	<string>AIzaSyB2T3yd0UM411Uc1CTG_XIOWBs7xr0lonA</string>
	<key>GCM_SENDER_ID</key>
	<string>80174950564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.graveton.Graveton</string>
	<key>PROJECT_ID</key>
	<string>graveton-a49d5</string>
	<key>STORAGE_BUCKET</key>
	<string>graveton-a49d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:80174950564:ios:dd913aff731118a6ac1e31</string>
	<key>DATABASE_URL</key>
	<string>https://graveton-a49d5-default-rtdb.firebaseio.com</string>
</dict>
</plist>
